* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}
/*TAG GENERALI - INIZIO HEADER*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: gainsboro;
}
.btn-small {
  background-color: white;
  padding: 7px 16px;
  border-radius: 25px;
  text-align: center;
}

.black {
  color: #272c34;
}
.white {
  color: white;
}

.debug-blu {
  background-color: cornflowerblue;
}
.debug-rosso {
  background-color: crimson;
}
.debug-giallo {
  background-color: goldenrod;
}

.debug-grey {
  background-color: gainsboro;
}
.debug-black {
  background-color: #272c34;
}

.flex {
  display: flex;
  justify-content: center;
  align-self: center;
}

.header {
  height: 70px;
  background-color: #628bf7;
  display: flex;
 
}

.link {
  display: flex;
}

.box-logo {
  width: 20%;
}
.content-link {
  width: 60%;
  display: flex;
  justify-content: center;
  align-self: center;
}

nav ul li {
  padding: 0px 15px;
}

.box-login {
  width: 20%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
/*FINE HEADER*/

.hero {
  width: 100%;
  height: 600px;
  background-image: url(../img/jumbo.png);
  background-position: center;
  background-size: cover;
}

.content-center {
  flex-direction: column;
}

.title-white {
  color: white;
  font-size: 2.5em;
  text-align: center;
  padding: 30px;
}

.text-white {
  text-align: center;
  color: white;
  line-height: 30px;
}

.botton {
  margin: 0 auto;
  margin-top: 30px;
}

.btn-big {
  background-color: #ffffff;
  padding: 14px 30px;
  border-radius: 25px;
  text-align: center;
  margin-right: 15px;
}

.btn-big-black {
  background-color: #272c34;
  padding: 14px 40px;
  border-radius: 25px;
  text-align: center;
}

.white {
  background-color: white;
}

.block-blu {
  width: 100%;
  height: 300px;
}

.title-2 {
  text-align: left;
  color: #272c34;
  font-size: 2.5em;
}

.text-left{
  text-align: left;
  line-height: 30px;
  margin-top: 25px;
}

.block-text-2 {
  padding-top: 30px;
  
}
.block{
  padding: 40px 80px;
}

.sfondo {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sfondo-grande {
  height: 800px;
}

.box-green {
  width: 100%;
  height: 800px;
}

.container-footer {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.sfondo-footer {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
}
.collum-grand {
  flex-grow: 2;
  height: 400px;
  margin-bottom: 20px;
  border: solid 1px whitesmoke;
}
.collum-small {
  flex-grow: 1;
  height: 400px;
  border: solid 1px whitesmoke;
}

.border {
  border-bottom: 2px solid green;
  padding-bottom: 20px;
}

.bar-footer {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-footer-final {
  display: flex;
  height: 20px;
}
